.header {
  clip-path: circle(0% at 100% 0);
  transition: 500ms all;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-active {
  clip-path: circle(150% at 100% 0);
}

.toggle-bar {
  transition: all 350ms ease;
}

a {
  transition: 0.3s all;
}

a::after {
  transition: 0.3s all;
}
