@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  overflow-x: hidden;
}

/* .content {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
} */

.gradient {
  background-image: linear-gradient(
    to right bottom,
    #353737,
    #3a3f3f,
    #3f4748,
    #445051,
    #49585a
  );
}

.content {
  max-width: 1300px !important;
  width: 90%;
  /* overflow: hidden; */
}
